.invoice-container {
    width     : 1000px;
    margin    : auto;
    margin-top: 30px;
    /* height : calc(100% - 10px); */
}

.invoice-table {
    display       : flex;
    flex-direction: column;
}

.table-header {
    /* box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15); */
    box-shadow: 0px 5px 10px rgb(209, 209, 209);
}

.table-header,
.table-card {
    display                  : flex;
    height                   : 60px;
    padding                  : 0 25px;
    align-items              : center;
    width                    : inherit;
    border-radius            : 13px;
    font-weight              : 600;
    background-color         : #9bd2ff;
    /* background-color      : #6abcff; */
    justify-content          : space-between;
}

.table-header span:nth-child(1),
.table-card span:nth-child(1) {
    margin-right: -50px;
}

.table-header span:nth-child(2),
.table-card span:nth-child(2) {
    margin-right: -20px;
}

.table-card {
    height          : 52px;
    margin          : 25px 0;
    cursor          : pointer;
    background-color: rgb(245, 245, 245);
    border          : 2px solid rgb(245, 245, 245);
    box-shadow      : 5px 8px 8px rgb(209, 209, 209);
}

.table-card:hover {
    border      : 2px solid;
    border-color: #6abcff;
}


.invoice-action {
    display        : flex;
    justify-content: space-between;
    margin         : 30px 0 50px 0;
}

/* Search Box */

.invoice-search {
    width          : 200px;
    height         : 40px;
    display        : flex;
    border-radius  : 15px;
    align-items    : center;
    padding        : 0 20px;
    border         : 2px solid #EEEDED;
    justify-content: space-between;
    box-shadow     : 0px 5px 20px rgba(0, 0, 0, 0.15);
}

.search-input {
    width           : 100%;
    height          : 80%;
    border          : none;
    font-size       : 16px;
    background-color: inherit;
}

.invoice-search:has(.search-input:focus) {
    border: 2px solid #6abcff;
}

.search-input:focus {
    outline: none;
}

.search-icon {
    position: relative;
    top     : 2px;
}

.search-icon:hover {
    cursor: pointer;
}


/* Add button */
.invoice-add-button {
    display         : flex;
    padding         : 0 15px;
    cursor          : pointer;
    margin-left     : 10px;
    align-items     : center;
    box-shadow      : 0px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius   : 10px;
    background-color: #9bd2ff;
    visibility      : hidden;
}

.invoice-add-button span {
    font-size  : 14px;
    font-weight: 700;
}

.invoice-add {
    position: fixed;
    bottom  : 10%;
    right   : 6%;
}
