.table-rows a {
    color          : inherit;
    font-size      : 14px;
    text-decoration: none;
}

.invoice-container {
    width     : 1000px;
    margin    : auto;
    margin-top: 30px;
    /* height : calc(100% - 10px); */
}

.table-header {
    /* box-shadow : 0px 5px 20px rgba(0, 0, 0, 0.15); */
    font-weight: 600;
    box-shadow : 0px 5px 10px rgb(209, 209, 209);
}

/* 

.table-header,
.table-card {
    display                  : flex;
    height                   : 60px;
    padding                  : 0 25px;
    align-items              : center;
    width                    : inherit;
    border-radius            : 13px;
    background-color         : #9bd2ff;
    background-color      : #6abcff;
    justify-content          : space-between;
}

.table-header span:nth-child(1),
.table-card span:nth-child(1) {
    margin-right: -50px;
}

.table-header span:nth-child(2),
.table-card span:nth-child(2) {
    margin-right: -20px;
} */

.table-header,
.table-card {
    height                  : 60px;
    display                 : grid;
    text-align              : center;
    align-items             : center;
    border-radius           : 13px;
    grid-auto-flow          : column;
    background-color        : #9bd2ff;
    grid-template-columns   : 10% 15% 20% 25% 15% 15%;
    /* grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr; */
}

.table-card {
    height          : 52px;
    margin          : 25px 0;
    cursor          : pointer;
    border          : 2px solid rgb(245, 245, 245);
    box-shadow      : 5px 8px 8px rgb(209, 209, 209);
    background-color: rgb(245, 245, 245);
}

.table-card:hover {
    border      : 2px solid;
    border-color: #6abcff;
}


.invoice-action {
    margin         : 30px 0 50px 0;
    display        : flex;
    justify-content: space-between;
}

/* Search Box */

.invoice-search {
    width          : 200px;
    height         : 40px;
    border         : 2px solid #EEEDED;
    display        : flex;
    padding        : 0 20px;
    box-shadow     : 0px 5px 20px rgba(0, 0, 0, 0.15);
    align-items    : center;
    border-radius  : 15px;
    justify-content: space-between;
}

.search-input {
    width           : 100%;
    height          : 80%;
    border          : none;
    font-size       : 16px;
    background-color: inherit;
}

.invoice-search:has(.search-input:focus) {
    border: 2px solid #6abcff;
}

.search-input:focus {
    outline: none;
}

.search-icon {
    position: relative;
    top     : 2px;
}

.search-icon:hover {
    cursor: pointer;
}


/* Add button */
.invoice-add-button {
    cursor          : pointer;
    display         : flex;
    padding         : 0 15px;
    box-shadow      : 0px 5px 20px rgba(0, 0, 0, 0.15);
    visibility      : hidden;
    align-items     : center;
    margin-left     : 10px;
    border-radius   : 10px;
    background-color: #9bd2ff;
}

.invoice-add-button span {
    font-size  : 14px;
    font-weight: 700;
}

.invoice-add {
    right   : 6%;
    bottom  : 10%;
    position: fixed;
}

/* Pagination */
.invoice-container .pagination {
    display        : flex;
    justify-content: center;
}

/* MUI - pagination button */
.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: #9bd2ff !important;
}