@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;500;600;700;800&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  padding               : 0;
  margin                : 0;
  background-color      : #EEEDED;
  font-family           : "Poppins", sans-serif;
  /* font-family        : "League Spartan", sans-serif; */
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
  background: #cee6f350;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*
blue: {
          100: "#cde9ff",
          200: "#9bd2ff",
          300: "#6abcff",
          400: "#38a5ff",
          500: "#068fff",
          600: "#0572cc",
          700: "#045699",
          800: "#023966",
          900: "#011d33"
},

white: {
    100: "#ffffcc",
    200: "#ffff99",
    300: "#ffff66",
    400: "#ffff33",
    500: "#ffff00",
    600: "#cccc00",
    700: "#999900",
    800: "#666600",
    900: "#333300"
  },
*/